
*$py.class
*.py[cod]
.Python
.cache
.coverage
.coverage.*
.env
secrets.toml
.nox/
.python-version
.tox/
.venv
.vscode/*
.web
ENV/
__pycache__/
build/
data/
creds/
db/
develop-eggs/
dist/
env.bak/
env/
htmlcov/
reflex.db
target/
venv.bak/
venv/
config/
logs/
.svelte-kit
build
node_modules
.DS_Store
.vscode/settings.json
template/
src/connext_dbt/reports

# file
profiles.yml