[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
httpx = "*"
numpy = "*"
pandas = "*"
pandas-gbq = "*"
fastapi = "*"
uvicorn = "*"
nest-asyncio = "*"

[dev-packages]
black="*"

[requires]
python_version = "3.11.4"
